NODE_ENV=development
PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=floreria_dulce_luz

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

CORS_ORIGIN=http://localhost:5173

VENDIS_DEVICE_ID=
VENDIS_TOKEN_API=
VENDIS_API_URL=https://vendis.cobrosqr.com/api/v1
VENDIS_QR_EXPIRATION_MINUTES=15
